@page "/front"

<PageTitle>Frontend changes</PageTitle>

<h3>Frontend .tsx changes</h3>
<hr/><br/>
<RepositoryChangesPlots FileType="FileType.Tsx" Limit="5"/>

<br/>

<h3>Frontend .ts changes</h3>
<hr/><br/>
<RepositoryChangesPlots FileType="FileType.Ts" Limit="5"/>