@page "/front"
@rendermode InteractiveServer

<PageTitle>Frontend changes</PageTitle>

<h3>Frontend .tsx changes</h3>
<hr/><br/>
<RepositoryChangesPlots FileType="FileType.TSX" Limit="5"/>

<br/>

<h3>Frontend .ts changes</h3>
<hr/><br/>
<RepositoryChangesPlots FileType="FileType.TS" Limit="5"/>