@using Common.MarkdownUtils

@code {
    [Parameter] public MarkdownSection? Section { get; set; }
    [Parameter] public string? Style { get; set; }
}

@if (Section != null)
{
    <div class="container mb-4">
        <div class="row">
            <div class="col-md-12">
                <div class="card h-100 shadow-lg">
                    <div class="card-header" style="@Style">
                        @Section.Title
                    </div>
                    <div class="card-body">
                        <div>@Section.MarkupString</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}